.presentation{}
.presentation-panorma__container{
    width: 100vw;
    margin-left: calc(50% - 50vw);
}
.presentation__container{
    height: 140px;
    background: #F6F6F6;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}
.presentation__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.presentation__title,
.presentation__toggle-label{
    font-family: 'Myriad Pro', sans-serif;
    text-transform: uppercase;

}
.presentation__title{
    font-weight: 700;
    font-size: 36px;
}
.presentation__toggle {
    cursor: pointer;
    display: inline-block;
}
.presentation__toggle-switch {
    display: inline-block;
    background: #ffffff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    width: 52px;
    height: 22px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
    transform: scale(-1, -1);
}
.presentation__toggle-switch:before, .presentation__toggle-switch:after {
    content: "";
}
.presentation__toggle-switch:before {
    display: block;
    background: #005AAA;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -5px;
    left: 22px;
    transition: left 0.25s;
}
.presentation__toggle:hover .presentation__toggle-switch:before {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    background: #00376f;
}
.presentation__toggle-checkbox:checked + .presentation__toggle-switch {
    background: #ABCAE9;
    box-shadow: none;
}
.presentation__toggle-checkbox:checked + .presentation__toggle-switch:before {
    background: #005AAA;
    left: -2px;
}

.presentation__toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.presentation__toggle-label {
    font-weight: 600;
    font-size: 16px;
    color: #005AAA;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

@media screen and (max-width: 1024px) {
    .presentation__title{
        font-size: 26px;
    }
}
@media screen and (max-width: 800px) {
    .presentation__content{
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
    .presentation__toggle-switch:before {
        width: 27px;
        height: 27px;
        top: -4px;
        left: 25px;
    }
    .presentation__toggle-switch {
        width: 50px;
        height: 18px;
    }
}
@media screen and (max-width: 660px) {
    .presentation__title{
        font-size: 20px;
    }
}



#panorama {
    width: 100%;
    height: 1066px;
    overflow:hidden;
    cursor: move;
    /*margin: 20px 0;*/
    /*box-shadow: 0 4px 12px rgba(0,0,0,0.3), 0 16px 20px rgba(0,0,0,0.2);*/
}
#panorama div {
    position:absolute;
    user-select: none;
    overflow:hidden;
}